.cabezoteHospitelecCompu{

    font-size: 16px;
    background-color: #29AAE3;
    height: 85px;
}

.cabezoteHospitelecCompu__escitorio{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoHospitelec{

    width: 270px;
    height: 41px;
    margin-top: 10px;
    margin-bottom: 7px;
}

.escritorio__lista{

    display: flex;
    justify-content: center;
    align-items: baseline;
}

.escritorio__lista li{

    display: flex;
}

.referencia__text{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--colorBlanco);
    margin-left: 20px;
    
}

.referencia__text:hover{

    color: #093548;
    text-decoration: none;
}

.referencia__button{

    width: 266px;
    height: 45px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #29AAE3;
    margin-top: 8px;
    margin-left: 20px;
}

.button__text{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--colorBlanco);
     
}

/*XS*/ 
@media (max-width: 575px) {

    .cabezoteHospitelecCompu{

        height: 45px;
    }

    .cabezoteHospitelecCompu__escitorio{

        display: block;
    }

    .escritorio__logoHospitelec{

        text-align: center;
    }


    .logoHospitelec{

        width: 175px;
        height: 30px;
    }
}


/*SM*/
@media (max-width: 767px) and (min-width: 576px) {
    
}


/*MD*/
@media (max-width: 991px) and (min-width: 768px) {

    .col-md-0{

        display: none;
    }

    .noMargin-md{
        margin: 0!important;
    }
    
}


/*LG*/
@media (max-width: 1199px) and (min-width: 992px) {

    .cabezoteHospitelecCompu{

        font-size: 16px;
        background-color: #29AAE3;
        height: 80px;
    }

    .logoHospitelec{

        width: 240px;
        height: 35px;
    }

    
}


/*XL*/
@media (min-width: 1200px){
  
}

